* {
    /* border: 1px solid red; */
}

html {
    font-size: 10px;
}

* {
    font-size: 1.5rem;
    color: rgba(97, 255, 97, 0.705);
    font-weight: normal;
    font-family: monospace, Helvetica, Arial, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #070f0b;
}


main {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 5 1 auto;
    /* align-items: center; */
    border-radius: 10px;
}

input{
    background-color: #070f0b;
    border: none;
    width: 5vw;
}

input:focus{
    border: none;
    outline: none;
}

.inputSection {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inputSection p {
    flex: 0 0 auto;
}

.input input {
flex: 1 1 auto;}
